
/* ////////////////////body style ///////////////////////////////// */
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Titillium Web', sans-serif;
}


/* ///////////// Header Style//////////////////// */
header{
    background: #000000;
    color: #FFFFFF;
    padding: 20px;
}

.header h1{
    text-align: center;  
    text-transform: uppercase;  
    letter-spacing: 20px; 

}

table, th, td{

    border: 1px solid #000000;
    padding: 2px;
    border-collapse: collapse;
    
}

/* //////////// section body///////////// */
.body{
    background: linear-gradient(#000000,#caf25bb5),url('../img/background.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 40px;
}

.body h2 {
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
}
.body p {
    color: #FFFFFF;
    text-align: center;
    width: 50%;
    margin: auto;
}

.btn-know-us{
    text-align: center;
    margin-top: 20px;
}

.body button {
    text-align: center;
    background-color: #ffffff;
    color: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border: 2px solid #0dc8af;
    border-radius: 5px;
}

/* /////////// section form//////////// */

.form{
    text-align: center;
    align-items: center;
}


/* /////////////// footer ///////////// */

.footer{

    color: #ffffff;
    background-color: #000000;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
   
}
