
/* ////////////////////body style ///////////////////////////////// */
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Titillium Web', sans-serif;
}


/* ///////////// Header Style//////////////////// */
header{
    background: #000000;
    color: #FFFFFF;
    padding: 20px;
}
/* /////////// h1 style/////////////// */

.header h1{
    text-align: center;  
    text-transform: uppercase;  
    letter-spacing: 20px; 

}


/* //////////// section body///////////// */
.body{
    background: linear-gradient(#000000,#caf25bb5),url('../img/background.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 40px;
}

.body h2 {
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
}

.body p {
    color: #FFFFFF;
    text-align: center;
    width: 50%;
    margin: auto;
}

.btn-know-us{
    text-align: center;
    margin-top: 20px;
}

/* ///////////////// All Button///////////////// */

button {
    text-align: center;
    background-color: #000000;
    color: #dff899;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border: 2px solid #ffffff;
    border-radius: 5px;
}

/* /////////// section form//////////// */

.form{
    text-align: center;
    align-items: center;
}


.know-me-div-1{

    width: 25%;
    display: inline-block;
    margin-left: 20px;
    
}

.know-me-img-div{

    width: 25%;
    height: 25%;
    display: inline-block;
    margin-left: 300px;
    text-align: center;
    border-radius: 10px;
}
.know-me{
    margin-top: 20px;
    
}

.blog-1{

    width: 30%;
    display: inline-block;
    border: 2px solid #bbff00;
    border-radius: 5px;
    padding-left: 5px;
    margin-left: 20px;
    padding-bottom: 20px;
}
.blog-2{

    width: 30%;
    display: inline-block;
    border: 2px solid #bbff00;
    border-radius: 5px;
    padding-left: 5px;
    margin-left: 20px;
    padding-bottom: 20px;
}
.blog-3{

    width: 30%;
    display: inline-block;
    border: 2px solid #bbff00;
    border-radius: 5px;
    padding-left: 5px;
    margin-left: 20px;
    padding-bottom: 20px;
}
.blog{

    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #bcc1c4;
    padding-top: 20px;
    padding-bottom: 20px;
}
.contact{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.email{
    padding-right: 115px;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    background-color: antiquewhite;
}
.contact-button:hover{

    background-color: #0291e4;
    color: #ffffff;
}

.form{
    background-color: #0772A4;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
}
.want{
    letter-spacing: 5px;
}

/* /////////////// footer ///////////// */

.footer{

    color: #ffffff;
    background-color: #000000;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    text-transform: uppercase;  
    letter-spacing: 20px; 
   
}